body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9e3e4; /* Màu nền hồng nhạt */
  height: 100%;
}

.header-container {
  background-color: rgba(253, 149, 173, 0.3); /* Màu nền hồng nhạt */
  color: #000; /* Màu chữ đen */
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px; /* Độ dài header xuống dưới */
}

.background {
  background-color: #f9e3e4; /* Màu nền hồng nhạt */
  min-height: 100vh; /* Chiều cao tối thiểu là 100% của viewport */
}

.buttons span {
  font-size: 20px; /* Điều chỉnh kích thước phù hợp */
}


.form-group label {
  font-weight: bold; /* Đặt font-weight là bold */
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.buttons span,
.logout-button {
  cursor: pointer;
  margin-right: 20px;
  transition: color 0.3s;
  color: #d32f2f; /* Màu chữ đỏ */
}

.buttons span:hover,
.logout-button:hover {
  color: #000; /* Màu chữ đen khi hover */
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  background-color: #f9e3e4; /* Màu nền hồng nhạt */
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu khi hover */
}

.logout-button:hover {
  background-color: #d32f2f; /* Màu đỏ nhạt khi hover */
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
