<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng kí tài khoản</title>
</head>
<body>
<div class="background">
  <header class="header-container">
    <div class="logo">
      <!-- <img src="src/app/image" alt="Logo"> -->
    </div>
    <div class="buttons">
      <span routerLink="/register">Đăng kí tài khoản</span>
      <span routerLink="/searchLoan">Đăng kí khoản vay</span>
      <span routerLink="/loanPayment">Thanh toán tiền lãi</span>
    </div>
    <div class="user">
      <button class="logout-button p-button p-button-icon-only">
        <i class="pi pi-power-off" style="font-size: 40px;"></i>
      </button>
      <!-- <img src="app/image/logo.jpg" alt="Avatar" class="avatar"> -->
    </div>
  </header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1>Thông tin cá nhân</h1>
        <div *ngIf="customerInfo">
          <p><strong>Tên:</strong> {{ customerInfo.fullName }}</p>
          <p><strong>Email:</strong> {{ customerInfo.email }}</p>
          <p><strong>Giới tính:</strong> {{ customerInfo.gender == 1 ? "Nữ" : "Nam" }}</p>
          <p><strong>Ngày sinh:</strong> {{ customerInfo.dob | date :'dd/MM/yyyy' }}</p>
          <p><strong>Số điện thoại:</strong> {{ customerInfo.phoneNumber }}</p>
          <p><strong>Địa chỉ:</strong> {{ customerInfo.district }}, {{ customerInfo.province }}, {{ customerInfo.city }}</p>
          <p><strong>Nghề nghiệp:</strong> {{ customerInfo.job }}</p>
          <!-- Thêm các trường thông tin khác tùy theo yêu cầu -->
        </div>
      </div>
      <div class="col-md-6">
        <h1>Đăng ký khoản vay</h1>
        <div class="loan-form">
          <div class="form-group">
            <label for="loanAmount">Số tiền đề nghị cấp tín dụng (VNĐ) <span class="required">*</span></label>
            <input type="text" id="loanAmount" min="0" max="1000000000" class="form-control" [(ngModel)]="loanAmount" placeholder="Nhập số tiền" (input)="validateLoanAmount($event)">
          </div>
          <div class="form-group">
            <label for="loanTerm">Kỳ hạn (Tháng) <span class="required">*</span></label>
            <select id="loanTerm" class="form-control" [(ngModel)]="loanTerm" (change)="calculateInterestRate()">
              <option value="3">3 tháng</option>
              <option value="6">6 tháng</option>
              <option value="9">9 tháng</option>
              <option value="12">12 tháng</option>
            </select>
          </div>
          <div class="form-group">
            <label for="interestRate">Lãi suất (%) <span class="required">*</span></label>
            <input type="text" id="interestRate" class="form-control" disabled [(ngModel)]="interestRate" placeholder="Mời chọn kỳ hạn trước!">
          </div>
          <div class="form-group">
            <label>Giấy tờ liên quan:</label><br>
            <input type="checkbox" id="incomeProof"> <label for="incomeProof">   Bảng lương</label><br>
            <input type="checkbox" id="collateral"> <label for="collateral">   Tài sản thế chấp</label>
          </div>
          <button class="btn btn-primary" (click)="submitLoan()">Tạo khoản vay</button>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>
