body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /*background-color: #f9e3e4; !* Màu nền hồng nhạt *!*/
  height: 100%;
}
.buttons span {
  font-size: 25px; /* Điều chỉnh kích thước phù hợp */
  padding: 35px; /* Khoảng cách bên phải giữa các span */
}
.table-container {
  margin: 20px auto; /* Căn giữa trên trang */
  text-align: center; /* Căn giữa nội dung bảng */
}

.custom-table {
  width: 70%; /* Chiếm toàn bộ chiều rộng của container */
  border-collapse: collapse; /* Xóa khoảng cách giữa các ô */
  margin: 0 auto; /* Căn giữa bảng */
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd; /* Đường viền của các ô */
  padding: 8px; /* Khoảng cách bên trong của các ô */
  text-align: left; /* Căn lề nội dung của các ô */
}

.custom-table th {
  background-color: #f2f2f2; /* Màu nền của header */
  color: #333; /* Màu chữ của header */
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Màu nền của các dòng chẵn */
}

.header-container {
  background-color: rgba(253, 149, 173, 0.3); /* Màu nền hồng nhạt */
  color: #000; /* Màu chữ đen */
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px; /* Độ dài header xuống dưới */
}

.background {
  /*background-color: #f9e3e4; !* Màu nền hồng nhạt *!*/
  min-height: 100vh; /* Chiều cao tối thiểu là 100% của viewport */
}

.form-group label {
  font-weight: bold; /* Đặt font-weight là bold */
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.buttons span,
.logout-button {
  cursor: pointer;
  margin-right: 20px;
  transition: color 0.3s;
  color: #d32f2f; /* Màu chữ đỏ */
}

.buttons span:hover,
.logout-button:hover {
  color: #000; /* Màu chữ đen khi hover */
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  background-color: #f9e3e4; /* Màu nền hồng nhạt */
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu khi hover */
}

.logout-button:hover {
  background-color: #d32f2f; /* Màu đỏ nhạt khi hover */
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.custom-table button {
  margin: 0 5px; /* Tạo khoảng cách giữa các nút button */
  border-radius: 8px; /* Làm tròn góc của nút button */
  border: none; /* Loại bỏ viền của nút button */
  padding: 8px 16px; /* Tăng khoảng cách bên trong nút button */
  background-color: rgba(47, 206, 211, 0.8); /* Màu nền của nút button */
  color: #fff; /* Màu chữ của nút button */
  font-size: 14px; /* Kích thước chữ của nút button */
  cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua nút button */
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu khi hover */
}

.custom-table button:hover {
  background-color: #b22b2b; /* Màu nền của nút button khi hover */
  color: #f2f2f2; /* Màu chữ của nút button khi hover */
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Khoảng cách phía dưới */
}
.personal-info p {
  font-size: 23px; /* Điều chỉnh kích thước chữ */
  margin-bottom: 23px; /* Khoảng cách giữa các dòng */
}


.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Khoảng cách giữa input và button */
  width: 40%; /* Độ rộng của input */
}

.search-button {
  padding: 10px 20px;
  color: #fff; /* Màu chữ của button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3; /* Màu nền của button khi hover */
}


